<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.QLTHUVIENConnectionString"
            connectionString="Data Source=LAPTOP-96MF1DFE;Initial Catalog=QLTHUVIEN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>